version: '3.8'
networks:
  my_network:

services:
  postgres:
    image: postgres:13.1
    container_name: postgres
    build:
      dockerfile: Dockerfile.postgres
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "root" ]
      timeout: 45s
      interval: 10s
      retries: 10
    restart: always
    networks:
      - my_network
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
      - VAULT_URL=http://vault:8200
      - VAULT_TOKEN=myroot
      - VAULT_PATH=secret/data/database
    volumes:
      - ./db:/docker-entrypoint-initdb.d/
    ports:
      - 5432:5432

  vault:
    image: hashicorp/vault:latest
    container_name: vault_c
    restart: always
    networks:
      - my_network
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: ${VAULT_TOKEN}
      VAULT_ADDR: "http://0.0.0.0:8200"
      VAULT_API_ADDR: "http://0.0.0.0:8200"
      VAULT_LOG_LEVEL: "info"
      VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
    volumes:
      - ./vault-config:/vault/config

  app:
    networks:
      - my_network
    container_name: lab3
    restart: always
    build:
      dockerfile: Dockerfile
    environment:
      VAULT_URL: ${VAULT_URL}
      VAULT_TOKEN: ${VAULT_TOKEN}
      VAULT_PATH: ${VAULT_PATH}
    volumes:
      - ./data:/app/data


volumes:
  postgres_db_data: